:root {

  /* FONTS */
  --font-body: "Nunito", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;
  --font-handwriting: "Nanum Pen Script", cursive; /* "Nanum Pen Script" or "Caveat" */
  
  /* COLORS */
  color-scheme: light dark;
  --color-gradient-1: rgba(0,162,198,1);
  --color-gradient-2: rgba(190,67,251,1);
  --color-gradient-3: rgba(243,76,86,1);
  --color-bg-primary: light-dark(#ffffff,#1f1f1f);
  --color-bg-secondary: light-dark(#F9FBFC,#24262C);
  --color-text-primary: light-dark(#394C77,#f2f2f2);
  --color-link-primary: var(--color-gradient-2);

  /* GRADIENTS */
  --gradient-primary: linear-gradient(90deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 50%, var(--color-gradient-3) 100%);
  --gradient-primary-x3: linear-gradient(90deg, var(--color-gradient-1) calc(0 * (100% / 6)), var(--color-gradient-2) calc(1 * (100% / 6)), var(--color-gradient-3) calc(2 * (100% / 6)), var(--color-gradient-2) calc(3 * (100% / 6)), var(--color-gradient-1) calc(4 * (100% / 6)), var(--color-gradient-2) calc(5 * (100% / 6)), var(--color-gradient-3) calc(6 * (100% / 6)));

  /* COLORS */
  --header-height: 100px;
  --container-max-width: 834px;
  --container-padding: 60px;
  
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

}

@media screen and (min-width: 744px) {

}

/* ANIMATIONS */

@keyframes bg-move {
  from {
    background-position: 0 0;
  }
  to { 
    background-position: 100% 0;
  }
}

/* INITIAL SETUP */

:focus, :focus-visible {
  outline: 2px solid var(--color-link-primary);
  outline-offset: 2px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

/* BASICS */

body{
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  line-height: 150%;
  text-align: left;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: normal;
}

p {
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  color: var(--color-link-primary);
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    background-image: var(--gradient-primary);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }

  &.button {
    border-bottom: none;
    --border-width: 1px;
    display: inline-block;
    position: relative;
    padding: 0 calc(2rem + var(--border-width));
    color: var(--color-text-primary);
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-image: var(--gradient-primary-x3);
    background-size: 300% 100%;
    background-clip: text;
    background-repeat: repeat-x;
    -webkit-text-fill-color: transparent;
    border-radius: 4.4rem;
    height: 44px;
    align-content: center;

    svg {
      vertical-align: baseline;
      margin-right: 5px;
      fill: var(--color-link-primary);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      margin: 0;
      border-radius: inherit;
      background-image: var(--gradient-primary-x3);
      background-size: 300% 100%;
      }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: var(--border-width);
      border-radius: inherit;
      background-color: var(--color-bg-primary);
    }

    &:hover {

      &:after {
        --border-width: 2px;
      }

    }

    @media (prefers-reduced-motion: no-preference) {

      &:hover {
        animation: bg-move 1s ease 0s 1 normal forwards;

        &:before {
          animation: bg-move 1s ease 0s 1 normal forwards;
        }

        &:after {
          --border-width: 2px;
          transition: margin .3s ease-in-out;
        }

      }
  
    }

  }

}

/* HELPERS */

.overflow-x-hidden {
  overflow-x: hidden;
}

.handwriten {
  font-family: var(--font-handwriting);
  font-size: 2.2rem;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: .3px #fff;
}

.gradient {
  color: var(--color-link-primary);
  background-image: var(--gradient-primary);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  
  -webkit-text-fill-color: transparent;
}

/* HEADINGS */

.heading-1 {
  font-family: var(--font-heading);
  font-size: 6.4rem;
  text-align: center;

  .text-effect {
    position: relative;
    display: inline-block;
  }

  .text {
    color: var(--color-text-primary);
    -webkit-text-stroke: 4px var(--color-bg-primary);
    paint-order: stroke fill;  

  }
    
  .text-shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 100%;
    font-family: var(--font-heading);
    font-size: 6.4rem;
    text-align: center;
    color: var(--color-bg-primary);
    background-image: var(--gradient-primary);
    background-clip: text;
    /*
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    */
    -webkit-text-stroke: 2px transparent;
    transform: translate(calc(-2px - 50%), 2px);
  }

}

.heading-2 {
  font-family: var(--font-heading);
  font-size: 6.4rem;
  text-align: center;
  letter-spacing: 1px;
  position: sticky;
  top: var(--header-height);
  z-index: 2;
  background-color: linear-gradient(180deg, color-mix(in srgb, var(--color-bg-primary) 100%, transparent) 50%, color-mix(in srgb, var(--color-bg-primary) 80%, transparent) 50%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  &:after {
    content:'';
    position: absolute;
    z-index: -3;
    width: 100%;
    max-width: calc(var(--container-max-width) - 2 * var(--container-padding));
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-image: var(--gradient-primary);
  }

  .text-effect {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      z-index: -2;
      width: calc(100% + 40px);
      top: calc(50% - 1px);
      left: -20px;
      height: 3px;
      background-color: var(--color-bg-primary);
    }

    .text {
      color: var(--color-bg-primary);
      background-image: var(--gradient-primary);
      background-clip: text;
      -webkit-text-stroke: 2px transparent;
    }

    .shadow {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: inline-block;
      background-image: var(--gradient-primary);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px transparent;
      transform: translate(2px, 0px);
    }

  }

}

.heading-3 {
  position: relative;
  font-family: var(--font-body);
  font-size: 2.8rem;
  text-align: center;
  z-index: 1;

  &:after {
    content:'';
    position: absolute;
    z-index: -3;
    width: 100%;
    max-width: calc(var(--container-max-width) - 2 * var(--container-padding));
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-image: var(--gradient-primary);
  }

  .text-effect {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      z-index: -2;
      width: calc(100% + 40px);
      top: calc(50% - 1px);
      left: -20px;
      height: 3px;
      background: var(--color-bg-primary);
    }

    .text {
      color: var(--color-text-primary);
      font-weight: 100;
    }

  }

}

/* SECTIONS */

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: var(--header-height);
  align-content: center;
  background-color: var(--color-bg-primary);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & + main {
    padding-top: var(--header-height);
  }  

  .logo {
    display: flex;
    align-items: center;
  }

  .action {
    display: flex;
    align-items: center;
    gap: 10px;
  }

}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  p {
    font-size: 2.2rem;
  }

}

.project {
  --col-margin: 80px;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 20px 0 100px 0;
  padding: 50px 0;
  border-radius: 24px;

  &:has(.frame-mobile) .col {
    min-height: 400px;
  }

  .col {
    position: relative;
    align-content: center;
    width: 50%;
    min-height: 300px;
  }

  .images {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    display: flex;
    transform: translateY(-50%);
  }

  svg, .svg {
    position: absolute;
    z-index: -5;
    right: -50px;
    bottom: -40px;
  }

  .texts {
    margin-left: var(--col-margin);
  }

  .title {
    font-family: var(--font-heading);
    font-size: 4rem;
    line-height: 110%;
  }

  .brand {
    display: block;
    font-family: var(--font-handwriting);
    font-size: 2.4rem;
    text-transform: lowercase;
    line-height: initial;
    margin-bottom: 0.4rem;
    -webkit-text-stroke: .3px var(--color-bg-primary);
  }

  .frame-mobile:nth-child(1) {
    transform: translate(0, -20px);
    order: 3;
    z-index: -1;
  }

  .frame-mobile:nth-child(2) {
    transform: translate(60px, 15px);
    order: 2;
  }

  .frame-mobile:nth-child(3) {
    transform: translate(140px, -40px);
    order: 1;
  }

  &:nth-child(even) {
    /*flex-direction: row-reverse;*/ /* It messes with screen reading order, changing order of cols on html manually instead */
    background-color: var(--color-bg-secondary);
    z-index: 0;

    /*
    a.button:after {
      background-color: var(--color-bg-secondary);
    }
    */

    .images {
      right: auto;
      left: 0;
      order: -1;
    }

    svg, .svg {
      right: auto;
      left: -40px;
    }

    .texts {
      width: calc(50% + var(--col-margin) / 2);
      margin-left: calc(var(--col-margin) / 2);
      margin-right: var(--col-margin);
      }

      .frame-mobile:nth-child(1) {
        transform: translate(0, -20px);
        order: 1;
      }

      .frame-mobile:nth-child(2) {
        transform: translate(-75px, 15px);
        order: 2;
      }

      .frame-mobile:nth-child(3) {
        transform: translate(-160px, -60px);
        order: 3;
        z-index: -1;
      }

  }

}

.logos {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;

  .logo {
    margin: 3px;
    width: calc(25% - 6px);
    height: 60px;
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    text-align: center;
    align-content: center;
  }

} 

/* IMAGE FRAMES */

[class^="frame-"] {
  color-scheme: light dark;
  --color-border-1: light-dark(#eee,#24262C);
  --color-border-2: light-dark(#fafafa,#1f1f1f);
}


.frame-desktop {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: fit-content;
  aspect-ratio: 420/290;
  background-color: var(--color-border-1);
  border: 6px solid var(--color-border-1);
  border-radius: 4px;

  &:after {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    left: -8px;
    bottom: -8px;
    border: 2px solid var(--color-border-2);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  img {
    display: block;
    max-width: calc(var(--container-max-width) / 2);
    border-radius: 4px;
  }
  
}

.frame-mobile {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: fit-content;
  aspect-ratio: 393/852;
  background-color: var(--color-border-1);
  border: 6px solid var(--color-border-1);
  border-radius: 22px;

  &:after {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    left: -8px;
    bottom: -8px;
    border: 2px solid var(--color-border-2);
    border-radius: 28px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  img {
    display: block;
    max-width: calc(var(--container-max-width) / 4.5);
    border-radius: 20px;
  }
  
}

